@charset "UTF-8";

body {
    height: 100%;
    width: 1000px;
    margin-left: 300px;
}

a:link {
    text-decoration: none;
}

footer {
    display: inline-block;
}

/* menu */
.menu {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

/* logo */
.logo a {
    width: 75px;
    height: 70px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.logo a img {
    width: 39px;
    height: 39px;
    display: inline-block;
}

/* hot news */
.hot-news {
    float: left;
    width: 70%;
}

.hot-news span {
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    background-color: red;
}

/* search */
.search {
    float: right;
    width: 30%;
}

.search a {
    float: right;
}

/* content-left */
.content-left {
    float: left;
    width: 70%;
}

/* content-right */
.content-right {
    float: right;
    width: 30%;
}

/* news-left */
.news-left {
    float: left;
    width: 70%;
}

/* news-right */
.news-right {
    float: right;
    width: 30%;
}

/* content-bottom-left */
.content-bottom-left {
    float: left;
    width: 50%;
}

/* content-bottom-right */
.content-bottom-right {
    float: right;
    width: 50%;
}