<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bóng đá 24h - Lịch thi đấu, kết quả, BXH bóng đá 24h mới nhất</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>

<body>
    <div>
        <img src="/images/logo-bongda24h.png" alt="logo-bongda24h">
    </div>
    <div class="menu">
        <a href="#">Home</a>
        <a href="#">Tin nóng</a>
        <a href="#">Chuyển nhượng</a>
        <a href="#">Anh</a>
        <a href="#">TBN</a>
        <a href="#">Châu Âu</a>
        <a href="#">Việt Nam</a>
        <a href="#">Nhận định</a>
        <a href="#">Bình luận</a>
        <a href="#">Hậu trường</a>
        <a href="#">Video</a>
    </div>
    <div class="logo">
        <img src="/images/club/mu.png" alt="mu">
        <img src="/images/club/mc.jpg" alt="mc">
        <img src="/images/club/liverpool.jpg" alt="liverpool">
        <img src="/images/club/arsenal.png" alt="arsenal">
        <img src="/images/club/chelsea.png" alt="chelsea">
        <img src="/images/club/psg.png" alt="psg">
        <img src="/images/club/bayernmunich.png" alt="bayern-munich">
        <img src="/images/club/borussiadortmund.jpg" alt="borussia-dortmund">
        <img src="/images/club/barcelona.png" alt="barcelona">
        <img src="/images/club/realmadrid.png" alt="real-madrid">
        <img src="/images/club/intermilan.png" alt="inter-milan">
        <img src="/images/club/acmilan.png" alt="ac-milan">
        <img src="/images/club/juventus.png" alt="juventus">
    </div>
    <div>
        <div class="hot-news">
            <span>Hot</span>
            <a href="#">Champion Leguage</a>
            <a href="#">Ngoại hạng anh</a>
            <a href="#">V-Leguage 2019</a>
        </div>
        <div class="search">
            <input type="text">
            <input type="button" value="Search">
        </div>
    </div>
    <div>
        <div class="content-left">
            <div>
                <div class="news-left">
                    <img src="/images/news-left.jpg" alt="news-left">
                    <h3>VIDEO: Ander Herrera chia tay M.U bằng clip đầy cảm động</h3>
                    <p>Tiền vệ Ander Herrera sẽ hết hạn hợp đồng với Man United vào cuối mùa giải này. Trước thềm trận đấu cuối cùng
                        của mùa giải, anh và CLB đã thông báo cho người hâm mộ bằng một video đầy cảm động</p>
                </div>
                <div class="news-right">
                    <p><a href="">Lịch thi đấu bóng đá ngày hôm nay (11/5): Sôi động V-League 2019</a></p>
                    <p><a href="">Hà Nội thua Thanh Hóa, HLV Chu Đình Nghiêm lấy Barca để nhắc nhở học trò</a></p>
                    <p><a href="">Siêu cò Mino Raiola bị cấm tham gia chuyển nhượng mùa hè này</a></p>
                </div>
            </div>
            <div class="content-bottom">
                    <div class="content-bottom-left">
                        <div>
                            <h4>Điểm tin bóng đá tối 11/5: MU sắp ra mắt bản hợp đồng đầu tiên ở Hè 2019</h4>
                            <img src="/images/news1.jpg" alt="news1">
                            <p>Dưới đây là những tin tức tổng hợp đáng chú ý trong phần điểm tin bóng đá trên chuyên trang Bongda24h tối ngày 11/5.</p>
                        </div>
                    </div>
                    <div class="content-bottom-right">
                        <div>
                            <h4>Sao Brighton quyết tâm trợ giúp Liverpool</h4>
                            <img src="/images/news2.jpg" alt="news2">
                            <p>Shane Duffy cảnh báo Man City. Ngôi sao của Brighton tuyên bố sẽ làm mọi cách để giành điểm từ tay đội chủ sân Etihad.</p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="content-right">
            <img src="/images/LTD.png" alt="LTD">
            <img src="/images/BXH.png" alt="BXH">
            <img src="/images/NhungTranCau.gif" alt="NhungTranCau">
        </div>
    </div>
</body>

</html>